{% extends 'base.html.twig' %}

{% block title %} - Single page!{% endblock %}

{% block body %}
<h1>{{place.name}}</h1>

<div class="row">
    <div class="col-3 my-2">
        <div class="card">
            <img src="{{ asset('')}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">{{place.name}}</h4>
              <h5 class="card-title">{{place.subtitle}}</h5>
              <p class="text">{{place.Category}}</p>
              <p class="text">{{place.description}}</p>
              <P class="">{{place.user}}</p>

              <div class="">
              
              <a href="{{ path('app_place_show', {'id': place.id}) }}">Add a review</a> 

            </div>
        </div>
        {# <p>{{place.review.rating}}</p>
        <p>{{place.review.comment}}</p> #}
    </div>

</div>


{% endblock %}